*{
    margin: 0px;
    padding: 0px;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5%;
}

body{
    width: 100%;
    height: 100vh;
}

img{
    width: 100%;
}

a{
    height: 100%;
    width: 40%;
}

.text{
    width: 50%;
}